@{
    ViewData["Title"] = "Home";
}
<!-------------stylesheet ------------------>
<link rel="stylesheet"
    href="~/css/site.css"
    media="only screen and (min-width:901px)" />
<div class="center-items-container">
    <div class="tagline-container">
        <div class="tagline">
            Welcome
            <span class="username-tagline">&nbsp; @ViewBag.user.Fname</span>,
            to FCIT HELP DESK
        </div>
    </div>
    <div class="introlines-container">
        <p class="introlines">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            debitis voluptatibus omnis autem. Quam laborum consectetur aliquam
            id eum! Provident!
        </p>
    </div>
    <div class="explore-btn-container">
        <a href="Courses" class="explore-btn">Explore us!</a>
    </div>
    
</div>
<div id="chat-container">
    <div id="chat-header">
        <h3>Chat</h3>
        <button id="minimize-btn" onclick="toggleChat()">-</button>
    </div>
    <div id="chat-body">
        <div id="chat-messages">
            <!-- Your chat messages go here -->
        </div>
        <div id="chat-input">
            <input id="input" type="text" placeholder="Type your message" />
            <button id="send-btn">Send</button>
        </div>
    </div>
</div>

<script>
    function toggleChat() {
        var chatBody = document.getElementById("chat-body");
        var minimizeBtn = document.getElementById("minimize-btn");

        if (chatBody.style.display === "none") {
            chatBody.style.display = "block";
            minimizeBtn.textContent = "-";
        } else {
            chatBody.style.display = "none";
            minimizeBtn.textContent = "+";
        }
    }
    var i = 1;
    var send = document.getElementById("send-btn");
    send.addEventListener("click", function () {
        var message = document.getElementById("input");
        console.log(message.value);
        var newDiv = document.createElement("div");
        newDiv.className = "new-message";
        var newMessage = document.createElement("p");
        newMessage.id = "new-message" + i;
        newDiv.appendChild(newMessage);
        console.log(newMessage);
        newMessage.innerHTML = message.value;
        console.log(newMessage);
        var chatBody = document.getElementById("chat-messages");
        if (i === 1) {
            chatBody.appendChild(newDiv);
        } else {
            var lastMessage = document.getElementById("new-message" + (i - 1));
            lastMessage.append(newDiv);
        }

        message.value = "";
    });

</script>


