@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet"
      type="text/css"
      href="~/css/about.css"
      media="only screen and (min-width:901px)" />
<div class="about-center-items">
    <div class="about-head-container">
        <p class="about-head">About FHD!</p>
    </div>

    <div class="about-gyaan-container">
        <p class="about-gyaan-text">
            FCIT Help Desk is an online platform, that basically focuses to
            help students access the notes, books and other (teacher’s
            specific notes) at single platform. As none of the student
            individually has all that material so it is an initiative so one
            can share the material he or she has, and on the same platform can
            access to others’ notes. Along with the helping material, it also
            provides utilities for the students like official updates, CGPA
            calculator and blogs (upcoming IA).
        </p>
    </div>
    <div class="about-il-container">
        <img src="images/svgs/about-us-01.svg" alt="" />
    </div>
</div>
<script>
    let is_admin = "@ViewBag.user.IsAdmin";
    if (is_admin === "Y") {
        document.getElementById("adminPanel").style.display = "block";
    }
</script>